body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;      
  background: #eee;
}

}
body .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}
body .portfolio .btn {
  margin: 40px 0;
}
body .portfolio .controls {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  font-size: 18px;  
  border-top: 3px gray solid;
  border-bottom: 3px gray solid;
  padding: 15px;
  margin-bottom: 30px;
  max-width: 100%;
}
body .portfolio .controls button {
  color: blue;
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 25px;
}
body .portfolio .controls button:focus {
  outline: none;
}
body .portfolio .controls button:hover {
  color: #000;
  cursor: pointer;
}
body .portfolio .container-filter {
  max-width: 100%;
  width: 1279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

body .portfolio .container-filter #med1 {
  background-image: url(../img/portfolio/med1.jpg);
}
body .portfolio .container-filter #med2 {
  background-image: url(../img/portfolio/med2.jpg);
}
body .portfolio .container-filter #med3 {
  background-image: url(../img/portfolio/med3.jpg);
}
body .portfolio .container-filter #med4 {
  background-image: url(../img/portfolio/med4.jpg);
}
body .portfolio .container-filter #med5 {
  background-image: url(../img/portfolio/med5.jpg);
}


body .portfolio .container-filter #sta1 {
  background-image: url(../img/portfolio/sta1.jpg);
}
body .portfolio .container-filter #sta2 {
  background-image: url(../img/portfolio/sta2.jpg);
}
body .portfolio .container-filter #sta3 {
  background-image: url(../img/portfolio/sta3.jpg);
}
body .portfolio .container-filter #sta4 {
  background-image: url(../img/portfolio/sta4.png);
}
body .portfolio .container-filter #sta5 {
  background-image: url(../img/portfolio/sta5.png);
}
body .portfolio .container-filter #sta6 {
  background-image: url(../img/portfolio/sta6.jpg);
}
body .portfolio .container-filter #sta7 {
  background-image: url(../img/portfolio/sta7.jpg);
}
body .portfolio .container-filter #sta8 {
  background-image: url(../img/portfolio/sta8.jpg);
}
body .portfolio .container-filter #sta9 {
  background-image: url(../img/portfolio/sta9.jpg);
}


body .portfolio .container-filter #mik1 {
  background-image: url(../img/portfolio/plav.jpg);
}
body .portfolio .container-filter #mik2 {
  background-image: url(../img/portfolio/trench.jpg);
}
body .portfolio .container-filter #mik3 {
  background-image: url(../img/portfolio/maslo.jpg);
}


body .portfolio .container-filter #jiv1 {
  background-image: url(../img/portfolio/artro.jpg);
}
body .portfolio .container-filter #jiv2 {
  background-image: url(../img/portfolio/fokst.jpg);
}
body .portfolio .container-filter #jiv3 {
  background-image: url(../img/portfolio/sush.jpg);
}
body .portfolio .container-filter #jiv4 {
  background-image: url(../img/portfolio/vit.jpg);
}
body .portfolio .container-filter #jiv5 {
  background-image: url(../img/portfolio/vack.jpg);
}
body .portfolio .container-filter #jiv6 {
  background-image: url(../img/portfolio/rasel.jpg);
}


body .portfolio .container-filter #tur1 {
  background-image: url(../img/portfolio/dom.jpg);
}
body .portfolio .container-filter #tur2 {
  background-image: url(../img/portfolio/hram.jpg);
}
body .portfolio .container-filter #tur3 {
  background-image: url(../img/portfolio/salar.jpg);
}


body .portfolio .container-filter #mas1 {
  background-image: url(../img/portfolio/godz.jpg);
}
body .portfolio .container-filter #mas2 {
  background-image: url(../img/portfolio/wytches.jpg);
}
body .portfolio .container-filter #mas3 {
  background-image: url(../img/portfolio/sports.jpg);
}


body .portfolio .container-filter div {
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 10px;
  width: 300px;
  height: 230px;
}

.title {
  position: absolute;
  top: 0px;
  left: 0;  
  right: 0; 
  text-align: center;  
  font-family: 'Roboto Slab', serif;    
  font-size: 20px;  
  font-weight: 900;
  z-index: 99;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
  text-shadow: -1px -1px #000000,
	-1px 1px #000000,
	1px -1px #000000,
	1px 1px #000000;
}

body .portfolio .container-filter div .fil {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  display: none;
  position: relative;
  margin: 0;
  background:/* url(../img/portfolio/plus.png)*/ rgba(0, 0, 0, 0.50);
  background-position: center;
  background-repeat: no-repeat;
}

body .portfolio .container-filter div .fil p {
  position: absolute;
  left: 0;  
  right: 0; 
  text-align: center; 
  font-size: 14px; 
  font-style: italic; 
  font-weight: 600;  
}

body .portfolio .container-filter div .fil p:nth-child(1) {
  bottom: 60px;
}
body .portfolio .container-filter div .fil p:nth-child(2) {
  bottom: 35px;
}
body .portfolio .container-filter div .fil p:nth-child(3) { 
  bottom: 10px;
}

body .portfolio .container-filter div .fil p a {
  color: #fff;
  text-decoration: none;
}
body .portfolio .container-filter div .fil p a:hover {
	color: yellow;
  text-decoration: underline;
}
body .portfolio .container-filter div:hover .fil {
  cursor: pointer;
  display: block;
}
body .portfolio .controls button.mixitup-control-active {
  color: black;
}
.mixitup-control-active {
  text-decoration: underline;
}